img {
    margin-top: 15vh;
    border: transparent;
    border-radius: 5px;

    
}

#img-fluid {
    width: 100%;
    height: auto;

}

#h4 {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: x-large;
    font-style: oblique;
    margin-bottom: 15vh;
    padding-top: 10px;
}

#abouttext {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: lighter;
    text-align: left;
    line-height: 2;
    font-size: large;
    padding-bottom: 100px;
}

figcaption {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
    font-style: italic;
    text-align: center;
}